{{errors}}

<div class='form-group'>
    <label for='name' class='col-md-2 control-label'>Name</label>
    <div class='col-md-10'>
        {{view Ember.TextField valueBinding='name' class='form-control'}}
    </div>
</div>

<div class='form-group'>
    <label for='code' class='col-md-2 control-label'>Code</label>
    <div class='col-md-2'>
        {{view Ember.TextField valueBinding='code' class='form-control'}}
    </div>
</div>

<div class='form-group'>
    <label for='email' class='col-md-2 control-label'>Email</label>
    <div class='col-md-10'>
        {{view Ember.TextField valueBinding='email' class='form-control'}}
    </div>
</div>

<div class='form-group'>
    <label for='adult' class='col-md-2 control-label'>Adult</label>
    <div class='col-md-1'>
        {{view Ember.Checkbox checkedBinding='adult' class='form-control'}}
    </div>
</div>

<div class='form-group'>
    <label for='gender' class='col-md-2 control-label'>Gender</label>
    <div class='col-md-10'>
        {{view Ember.Select contentBinding='genders' valueBinding='gender' class='form-control'}}
    </div>
</div>

<div class='form-group'>
    <label for='keep_checkout_history' class='col-md-2 control-label'>Keep Checkout History</label>
    <div class='col-md-1'>
        {{view Ember.Checkbox checkedBinding='keepCheckoutHistory' class='form-control'}}
    </div>
</div>

<div class='form-group'>
    <label for='notes' class='col-md-2 control-label'>Notes</label>
    <div class='col-md-10'>
        {{view Ember.TextArea valueBinding='notes' cols="80" rows="4" class='form-control'}}
    </div>
</div>