{{#if isEditing}}
    {{partial 'patrons/edit'}}
    <button {{action 'saveEdit'}}>Save</button>
    <button {{action 'cancelEdit'}}>Cancel</button>
{{else}}
    {{name}}
    {{code}}
    {{gender}}
    {{email}}
    <button {{action 'edit'}}>Edit</button>
    <button {{action 'delete'}}>Delete</button>
{{/if}}