<fieldset>
    <legend>Edit Checkout</legend>

    <div class='row'>
        {{errors.responseText}}
    </div>

    <div class='row'>
        <div class='large-12 columns'>
            <label>Book Code</label>
            {{view Ember.TextField valueBinding='book_code'}}
            {{model.book.full_title}}
        </div>
    </div>

    <div class='row'>
        <div class='large-12 columns'>
            <label>Patron Code</label>
            {{view Ember.TextField valueBinding='patron_code'}}
            {{model.patron.name}}
        </div>
    </div>
</fieldset>