{{errors}}

<div class='row'>
    <div class='col-md-6'>
        <div class='form-group'>
            <label>Book</label>
            {{view Ember.TextField valueBinding='book_code'
            placeholder='book code' class='form-control'}}
            {{model.book.full_title}}
            {{#if model.book.adult}}
                <p><span class='alert label'>
                        For adults only
                    </span></p>
            {{/if}}
        </div>
    </div>

    <div class='col-md-6'>
        <div class='form-group'>
            <label>Patron</label>
            {{view Ember.TextField valueBinding='patron_code'
            placeholder='patron code' class='form-control'}}
            {{model.patron.name}}
        </div>
    </div>
</div>