<p>Checked out book: {{#linkTo 'books.book' book}}{{book.full_title}}{{/linkTo}}</p>
<p>Checked out by: {{#linkTo 'patrons.patron' patron}}{{patron.name}}{{/linkTo}}</p>
<p>Checked out at: {{timeAgo created_at}}, {{shortDateTime created_at}}</p>

{{#if isOpen}}
    <button {{action return}} class='btn btn-default'>Return</button>
    <button {{action lose}} class='btn btn-default'>Lose</button>
{{else}}
    <p>Closed at: {{timeAgo closed_at}}, {{shortDateTime closed_at}}</p>
    <p>Checked out for: {{humanizeDuration duration}}</p>
    <button {{action reopen}} class='btn btn-default'>Reopen</button>
{{/if}}

{{#if showLoseDialog}}
    <button {{action loseCloseOnly}} class='btn btn-default'>Close checkout only</button>
    <button {{action loseChangeStock}} class='btn btn-default'>Close and decrement stock</button>
    <button {{action loseCancel}} class='btn btn-default'>Cancel</button>
{{/if}}

<button {{action delete}} class='btn btn-default'>Delete</button>