<p>Checked out book: {{#linkTo 'books.book' book}}{{book.full_title}}{{/linkTo}}</p>
<p>Checked out by: {{#linkTo 'patrons.patron' patron}}{{patron.name}}{{/linkTo}}</p>
<p>Checked out at: {{timeAgo created_at}}, {{shortDateTime created_at}}</p>

{{#if isOpen}}
    <button {{action return}}>Return</button>
    <button {{action lose}}>Lose</button>
{{else}}
    <p>Closed at: {{timeAgo closed_at}}, {{shortDateTime closed_at}}</p>
    <p>Checked out for: {{humanizeDuration duration}}</p>
    <button {{action reopen}}>Reopen</button>
{{/if}}

{{#if showLoseDialog}}
    <button {{action loseCloseOnly}}>Close checkout only</button>
    <button {{action loseChangeStock}}>Close and decrement stock</button>
    <button {{action loseCancel}}>Cancel</button>
{{/if}}

<button {{action delete}} class='secondary'>Delete</button>