<div class='row'>
    {{#if isEditing}}
        <div class='col-md-10'>
            <p>{{view Bootstrap.Forms.TextField valueBinding='name'}}</p>
            {{date-range-picker start=start finish=finish}}
            <address>
                {{view Bootstrap.Forms.TextArea valueBinding='location'}}
            </address>
        </div>
        <div class='col-md-2'>
            <div class='btn-group-vertical'>
                <button class='btn btn-default' {{action save}}>
                    Save
                </button>
                {{#if isExisting}}
                    <button class='btn btn-default' {{action delete}}>
                        Delete
                    </button>
                {{/if}}
                <button class='btn btn-default' {{action cancel}}>
                    Cancel
                </button>
            </div>
        </div>
    {{else}}
        <div class='col-md-10'>
            <p>{{name}}</p>
            <p>{{shortDate start}} to {{shortDate finish}}</p>
            <address>{{location}}</address>
        </div>
        <div class='col-md-2'>
            <button class='btn btn-default' {{action edit}}>
                <span class='glyphicon glyphicon-pencil'></span>  Edit
            </button>
        </div>
    {{/if}}
</div>