<p>Title: {{view Ember.TextField valueBinding='title'}}</p>
<p>Volume: {{view Ember.TextField valueBinding='volume'}}</p>
<p>Code: {{view Ember.TextField valueBinding='code'}}</p>
<p>Notes: {{view Ember.TextArea valueBinding='notes' cols="80" rows="4"}}</p>
<p>Adult only: {{view Ember.Checkbox checkedBinding='adult'}}</p>