{{#if isEditing}}
    {{partial 'books/edit'}}
{{else}}
    <h1>{{title}}</h1>
    <p>{{code}}</p>
    <p>{{notes}}</p>
    <p>{{volume}}</p>
    <p>{{adult}}</p>
    <p>{{stock}}</p>
    <button {{action 'edit'}}>Edit</button>
    <button {{action 'delete'}}>Delete</button>
{{/if}}
