<div class='row'>
    <div class='col-md-8'>
        <h1>{{full_title}}</h1>
    </div>
    <div class='col-md-4'>
        {{#linkTo 'books.edit' this class='btn btn-default'}}Edit{{/linkTo}}
        <button class='btn btn-default' {{action 'delete'}}>Delete</button>
    </div>
</div>

<ul class='slug-line'>
    {{codeSlug code}}
    {{stockSlug available stock}}
    {{adultSlug adult}}
</ul>

{{#if notes}}
    <h2>Notes</h2>
    <p>{{notes}}</p>
{{/if}}