{{#if isEditing}}
    <form role='form' class='form-horizontal'>
        {{partial 'books/edit'}}
        <button class='btn btn-primary' {{action 'saveEdit'}}>Save</button>
        <button class='btn btn-default' {{action 'cancelEdit'}}>Cancel</button>
    </form>
{{else}}
    <div class='row'>
        <div class='col-md-8'>
            <h1>{{full_title}}</h1>
        </div>
        <div class='col-md-4'>
            <button class='btn btn-default' {{action 'edit'}}>Edit</button>
            <button class='btn btn-default' {{action 'delete'}}>Delete</button>
        </div>
    </div>

    <ul class='slug-line'>
        {{codeSlug code}}
        {{stockSlug available stock}}
        {{adultSlug adult}}
    </ul>

    {{#if notes}}
        <h2>Notes</h2>
        <p>{{notes}}</p>
    {{/if}}
{{/if}}