<div class='row'>
    <div class='col-md-12'>
        <h1>{{full_title}}</h1>
        <h2>{{subtitle}}</h2>
        <p>By {{author}}</p>
    </div>
</div>

<div class='row'>
    <div class='col-md-12 toolbar'>
        {{#linkTo 'books.edit' this class='action'}}Edit{{/linkTo}}

        <span class='dropdown'>
            <a data-toggle='dropdown' class='action'>Tools</a>
            <ul class='dropdown-menu' role='menu'>
                <li>{{#linkTo 'books.clone_volume' this}}
                    <span class='glyphicon glyphicon-share-alt'></span> Clone Volume
                {{/linkTo}}</li>
                <li><a {{action 'delete'}}><span class='glyphicon glyphicon-remove'></span> Delete</button></a></li>
            </ul>
        </span>

        {{#linkTo 'checkout' bookCodeBinding=code class='action'}}Checkout{{/linkTo}}

        <span class='slugs'>
            <span class='slug'>{{codeSlug code}}</span>
            <span class='slug' {{bind-attr class='noStock:alert'}} {{bind-attr class='notAvailable:warning'}}>{{stockSlug available stock}}</span>
            <span class='slug'>{{adultSlug adult}}</span>
        </span>
    </div>
</div>

<div class='row'>
    <div class='col-md-12'>
        <h2>Notes</h2>
        <p>{{valueOrDefault notes '(no notes entered)'}}</p>
    </div>
</div>