{{#if isEditing}}
    <form>
        {{partial 'books/edit'}}
        <button {{action 'saveEdit'}}>Save</button>
        <button {{action 'cancelEdit'}}>Cancel</button>
    </form>
{{else}}
    <h1>{{full_title}}</h1>
    <p>{{code}}</p>
    <p>{{notes}}</p>
    <p>{{adult}}</p>
    <p>{{stock}}</p>
    <button {{action 'edit'}}>Edit</button>
    <button {{action 'delete'}}>Delete</button>
{{/if}}
