<!DOCTYPE html>
<html>
<head>
  <title>Library</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "http://localhost:9292/faye.js" unless Rails.env.production? %>
  <%#= javascript_include_tag "http://library.louissimons.com:9292/faye.js" if Rails.env.production?%>
  <%= javascript_include_tag "application" %>
  <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
